*~
*/gen/
*/bin/
*/tests/bin/
*/tests/gen/
*/tests/assets/
*/acceptance_tests/bin/
*/acceptance_tests/gen/
*/ext/*/gen/
*/ext/*/bin/
*/ext/*/*/gen/
*/ext/*/*/bin/
*/out/
*/.idea/
*/ext/*/*.eml
*/ext/*/*.iml
*/ext/*/*/*.eml
*/ext/*/*/*.iml
*/ext/*/module_*.xml
*/ext/*/*/module_*.xml
*/*.eml
*/*.iml
*/module_*.xml
install
bi
cbi
